/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* Global */
body {
  font-family: "Source Sans Pro", sans-serif;
  color: #18252e;
  text-transform: uppercase;
}

.container {
  width: 630px;
  margin: 0 auto;
}

/* Header */
.header {
  width: 100%;
}

.header-logo {
  width: 300px;
  height: auto;
  margin: 0 auto;
  display: block;
  padding: 20px 0;
}

/* Accessibility */
.hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  display: block;
}

.row button {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  -webkit-transition: background 0.5s; /* Safari */
  transition: background 0.5s;
  outline: none;
  text-transform: uppercase;
}

.tile {
  background: #fff;
  border: solid 1px #757575;
  box-shadow: 2px 2px 5px rgba(255, 204, 128, 0.25);
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  color: #18252e;
  width: 100%;
  user-select: none;
}

.tile:hover {
  background: #fcf6ea;
  cursor: pointer;
}

.tile-selected {
  background: #ff9800;
  border: solid 1px #fb8c00;
  box-shadow: inset 2px 2px 5px rgba(223, 121, 10, 0.7);
  width: 100%;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  color: #ffffff;
}

.tile-selected:hover {
  background: #ef6c00;
  cursor: pointer;
}

.orange-area {
  background: #fff3e0;
  padding: 15px 15px 5px 15px;
  width: 270px;
  margin: 0px;
  height: 283px;
}

.row {
  width: 300px;
  display: block;
}

.row button:last-child {
  margin-right: 0;
}

/* Button States */
.submit-button {
  width: 76%;
  border-radius: 5px;
  background-color: #ff9800;
  margin-top: 25px;
  padding: 20px 0;
  -webkit-transition: background 0.5s; /* Safari */
  transition: background 0.5s;
  box-shadow: 2px 2px 5px rgba(255, 204, 128, 0.25);
  display: block;
  border: none;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
  letter-spacing: 3px;
  float: left;
}

.submit-button:hover {
  background: #ef6c00;
  cursor: pointer;
}

.submit-reset {
  width: 20%;
  border-radius: 5px;
  background-color: #ff1800;
  margin-top: 25px;
  padding: 20px 0;
  -webkit-transition: background 0.5s; /* Safari */
  transition: background 0.5s;
  box-shadow: 2px 2px 5px rgba(255, 204, 128, 0.25);
  display: block;
  border: none;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
  letter-spacing: 3px;
  float: right;
}

.submit-reset:hover {
  background: #ef0000;
  cursor: pointer;
}

/* Current Word */
.current-header {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1.2px;
  line-height: 1.5;
  text-align: center;
  color: #616161;
  display: block;
  height: 22.5px;
}

.current-word {
  font-size: 30px;
  font-weight: normal;
  letter-spacing: 3px;
  text-align: center;
  min-height: 35px;
  color: #18252e;
  display: block;
}

.word-area {
  padding: 30px 0 0 0;
  width: 100%;
}

/* Game Area */

.game-area {
  padding: 20px;
  margin: 0;
  float: left;
  width: 300px;
}

.clear {
  clear: both;
}

/* Score Area */

.score-box {
  width: 200px;
  border-radius: 5px;
  border: solid 1px #eeeeee;
  float: right;
  margin: 15px;
  padding: 20px;
}

.word-list {
  width: 100%;
  height: 320px;
  border-bottom: 1px solid #e0e0e0;
}

.total-score {
  padding-top: 25px;
  width: 100%;
}

.words {
  width: 50%;
  float: left;
}

.scores {
  width: 50%;
  float: left;
  text-align: right;
}

.score-box li {
  padding-top: 15px;
  list-style-type: none;
}

.total-score h2 {
  text-align: left;
}

h2 {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1.2px;
  display: inline;
  color: #616161;
}

.total-score span {
  text-align: right;
  float: right;
  position: relative;
  top: -5px;
  font-size: 25px;
}

.form-input {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.form-button {
  width: 40%;
}
